<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	  <services>
		  <service name="Service1.Service1">
			  <endpoint address="soap" binding="basicHttpBinding" contract="Service1.IService1"/>
			  <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="Service1.IService1"/>
		  </service>
	  </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64115/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
    <behaviors>
		<endpointBehaviors>
			<behavior name="jsonBehavior">
				<webHttp/>
			</behavior>
		</endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Aby zapobiec ujawnieniu informacji o metadanych, ustaw dla poniższych elementów wartość false przed wdrożeniem -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Aby uzyskać szczegółowe informacje o wyjątku dotyczące błędów na potrzeby debugowania, ustaw dla poniższego elementu wartość true. Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o wyjątku -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Aby przeglądać katalog główny aplikacji internetowej w trakcie debugowania, ustaw dla poniższego elementu wartość true.
        Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o folderze aplikacji internetowej.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
